* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

button, label, input, canvas {
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 1.5rem);
  display: flex;
  overflow: hidden;
  width: 100%;
}

.nametable {
  padding: 1rem 0;
  width: 60%;
}

.nametable .displaywrapper {
  width: 90%;
  margin: 0 auto;
  max-height: 90%;
  position: relative;
}

#nametabledisplay {
  display: block;
  height: auto;
  image-rendering: pixelated;
  width: 100%;
}

#nametablegrid {
  display: block;
  height: auto;
  position: absolute;
  top: calc(0.8rem + 4px);
  width: 100%;
}

.nametabletools {
  margin-top: 0.5rem;
}

.vwrap {
  border-left: 1px solid #888;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.tileset {
  height: 66%;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  width: 88%;
}

.palettes {
  border-top: 1px solid #888;
}

.paletteswrapper {
  margin: 0 auto;
  padding: 1rem 0 0;
  width: 90%;
}

.paletteswrapper .label {
  margin-bottom: 12px;
}

.paletterow {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.paletterow span {
  display: block;
  width: 1.5rem;
}

.paletterow canvas {
  border: 1px solid #888;
}

.paletterow span.spacer {
  width: 2rem;
}

.label {
  font-size: 0.8rem;
  height: 0.8rem;
  margin: 0 0 4px;
}

#tilesetdisplay {
  display: block;
  height: auto;
  image-rendering: pixelated;
  margin: 0 auto;
  width: 100%;
}

#tilesetgrid {
  display: block;
  height: auto;
  position: absolute;
  top: calc(0.8rem + 20px);
  width: 100%;
}

.tilesettools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem auto;
}

#tileeditorpalette {
  border: 1px solid #888;
}

#colordisplay {
  border: 1px solid #888;
  display: block;
  margin: 12px auto 0;
  width: 80%;
}

.statusbar {
  border-top: 1px solid #888;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
}

.statusbar p {
  font-size: 0.8rem;
  margin: 0;
  padding: 2px 8px 0;
}

.statusbar .spacer {
  display: inline-block;
  width: 1rem;
}

.tileeditbg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.65);
}

.tileeditbg.hidden {
  display: none;
}

.tileedit {
  background-color: #efefef;
  padding: 1rem;
  position: absolute;
  left: 30%;
  top: 4rem;
  width: 40%;
  height: auto;
}

.tileeditwrapper {
  position: relative;
  width: 100%;
}

.tileedittools {
  display: flex;
  flex-direction: column;
}

.tileedittools div {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.tileedittools div button,
.tileedittools div canvas {
  margin-right: 0.8rem;
}

.tileeditsavecancel {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: row;
  justify-content: flex-end;
}

#teCancelButton {
  border: 1px solid #888;
  border-radius: 4px;
}

#teSaveButton {
  background: linear-gradient(180deg, #69a3fb, #0c6dff);
  border: 1px solid #0463ff;
  border-radius: 4px;
  margin-left: 0.5rem;
  padding: 4px 8px;
}

#tileeditor {
  border: 1px solid #888;
  display: block;
  image-rendering: pixelated;
  width: 80%;
  margin: 1rem auto;
}

#tileeditorgrid {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
}
